$primary-bg: #ebfdff;
$primary-color: #00bdd6;
.sidebar {
  flex: 1.1;
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }
  .center {
    padding-left: 10px;
    padding-right: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background-color: rgb(225, 225, 225);
        }

        .icon {
          font-size: 18px;
          color: #565e6c;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: #565e6c;
          margin-left: 8px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}

.active-side-menu {
  background-color: $primary-bg;
}
.active-side-text {
  color: $primary-color !important;
  font-weight: bold !important;
}
.active-icon {
  color: $primary-color !important;
}
.logo {
  img {
    width: 120px;
    height: 40px;
    margin-top: 14px;
  }
}
