.table-container {
  //   border: 1px solid black;
  margin-top: 30px;
  padding: 20px 10px;
  .search-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .input-wrapper {
    border: 1px solid #9095a0;
    border-radius: 4px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
  }
  input {
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
  .primary-btn {
    background-color: #00bdd6;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 4px 12px;
  }
  .tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tabs-menu-container {
    margin-top: 30px;
    justify-content: space-between;
  }
  .menu {
    list-style-type: none;
    display: flex;
    width: fit-content;
  }
  li {
    width: 140px;
    text-align: center;
    padding-bottom: 2px;
  }
  .active {
    border-bottom: 4px solid #00bdd6;
    border-radius: 2px;
  }
  .tabs-filter-container {
    display: flex;
    gap: 20px;
  }
  .sort-container {
    background-color: #eaecef;
    border-radius: 8px;
    padding: 8px 12px;
  }
  .filter-container {
    background-color: #eaecef;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
  }
  .table-item-container {
    height: 300px;
    border: 1px solid #dee1e6;
    border-radius: 8px;
    padding: 20px 20px;
  }
  .table-item {
    display: flex;

    justify-content: space-between;
    padding: 10px 0px;
    .name {
      color: #000000;
      font-weight: bold;
      width: 120px;
    }
    .p-bar {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .status {
      border-radius: 8px;
      padding: 4px 6px;
      background-color: #fdf2f2;
      color: #de3b40;
      width: 45px;
    }
    .green {
      background-color: #eefdf3;
      color: #117b34;
    }
    .date {
      color: #9095a0;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .icon {
      height: 18px;
      width: 18px;
    }
  }
}
